p{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(67, 26, 105);
}
.tag:before{
    font-family: 'Lato', sans-serif;
    content: open-quote;
    font-size: 50px;
    color: brown;
}
.tag:after{
    font-family: 'Lato', sans-serif;
    content: close-quote;
    font-size: 50px;
    color: brown;
}