ul{
    list-style-type: square;
}
li:nth-child(1){
    color: rgb(48, 161, 48);
}
li:nth-child(2){
    color: rgb(255, 255, 71);
}
li:nth-child(3){
    color: rgb(31, 31, 83);
}
li:nth-child(4){
    color: rgb(255, 176, 30);
}
li:nth-child(5){
    color: rgb(223, 41, 41);
}