*{
    margin: 20px;
}
.triangleOne{
    border-width: 70px 70px 70px 70px;
    border-style: solid;
    border-color: red transparent transparent transparent;
    height: 1px;
    width: 1px;
    display: inline-block;
}
.triangleTwo{
    border-width: 70px 70px 70px 70px;
    border-style: solid;
    border-color: transparent transparent red transparent;
    height: 1px;
    width: 1px;
    display: inline-block;
}
.triangleThree{
    border-width: 70px 70px 70px 70px;
    border-style: solid;
    border-color: transparent transparent transparent green;
    height: 1px;
    width: 1px;
    display: inline-block;
}
.triangleFour{
    border-width: 70px 70px 70px 70px;
    border-style: solid;
    border-color: transparent green transparent transparent;
    height: 1px;
    width: 1px;
    display: inline-block;
}
.triangleFive{
    width: 1px;
	height: 1px;
	border-bottom: 100px solid yellow; 
    border-right: 100px solid transparent;
    display: inline-block;

}
.triangleSix{
    width: 0;
	height: 0;
	border-bottom: 100px solid yellow; 
    border-left: 100px solid transparent;
    display: inline-block;
}
.triangleSeven{
    width: 0;
	height: 0;
	border-top: 100px solid blue; 
	border-right: 100px solid transparent;
    display: inline-block;
}
.triangleEight{
    width: 0;
	height: 0;
	border-top: 100px solid blue; 
    border-left: 100px solid transparent;
    display: inline-block;
}