*{
    padding: 0px;
    margin: 0px;
}
header{
    width: 500px;
    height: 40px;
    background: #ffc629;
}
#content{
    width: 500px;
    height: 400px;
    background: #ffff36;
}
h1, h2{
    text-align: center;
}
.firstCol{
    text-align: right;
    vertical-align: top;
}
table{
    border-spacing: 10px;
    margin-top: 0;
}