* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
    .container {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
    }

    /* -----HEADER----- */
    header {
        width: 100%;
        height: 209px;
    }
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 82px 0px;
    }
    .nav-link {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 50px;
        text-decoration: none;
        transition: border-bottom 0.2s linear;
        color: black;
    }
    .nav-link:hover {
        border-bottom: 4px solid black;
        padding-bottom: 10px;
    }
    .nav-link:first-child {
        margin-left: 0;
    }
    
    /* -----BANNER----- */
    .banner {
        width: 100%;
        height: 600px;
    }
    .banner-inner {
        background-image: url(../images/Banner.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-text {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .header-text-banner {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 79px;
        font-weight: 800;
        text-shadow: 0px 0px 20px rgba(48, 48, 48, 0.7);
        line-height: 1.1;
        letter-spacing: 15px;
    }
    
    /* -----CONTENT----- */
    .content {
        width: 100%;
        height: 1400px;
    }
    .content-inner {
        /* max-width: 900px; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 1400px;
    }
    .article-one {
        width: 390px;
        height: 330px;
        margin: 0;
    }
    .header-a {
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.1;
        margin-top: 20px;
    }
    .simple {
        font-size: 15px;
        line-height: 2;
        margin: 27px 0;
        text-align: left;
    }
    .more {
        font-size: 20px;
        font-weight: bold;
        text-align: left;
    }
    .photo_one {
        width: 545px;
        height: 640px;
    }
    figure {
        display: table;
    }
    figcaption {
        display: table-caption;
        caption-side: top;
        font-size: 25px;
        font-weight: 700;
        line-height: 1.2;
        text-align: right;
    }
    .align-left {
        text-align: left;
    }
    .article-two {
        width: 540px;
        height: 340px;
    }
    .header-b {
        font-size: 79px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.1;
        margin-top: 70px;
    }
    .article-three {
        width: 540px;
        height: 370px;
        text-align: right;
        margin: 10px 0 0 55px;
    }
    .header-c {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.7;
        text-align: right;
        margin-top: 40px;
    }
    .header-d {
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.1;
        text-align: right;
    }
    .photo-two {
        width: 540px;
        height: 300px;
        align-items: flex-end;
        margin: 0 0 0 55px;
    }
    .photo-three {
        width: 545px;
        height: 640px;
        margin: 0 0 0 52px;
    }
    
    /* -----NEWSLETTER----- */
    .newsletter {
        height: 300px; 
        margin-top: 70px;
    }
    .newsletter-inner {
        height: 300px;
        background-image: url(../images/newsletter.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-text-newsletter {
        color: white;
        font-size: 50px;
        font-weight: 700;
        line-height: 1.4;
        text-transform: uppercase;
        text-shadow: 0px 0px 20px rgba(48, 48, 48, 0.7);
    }
    input {
        width: 140px;
        height: 35px;
        border: none;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        margin-top: 20px;
        background: white;
    }
    
    /* -----INFORMATIONS----- */
    .information {
        height: 250px;
    }
    .information-inner {
        height: 250px;
        display: block;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
    }
    table {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        margin: 50px auto;
    }
    #small {
        width: 60px;
        text-align: center;
    }
    
    /* -----CATEGORIES----- */
    .categories {
        height: 600px;
    }
    .categories-inner {
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .meu {
        background-image: url(../images/ZEJW.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 500px;
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cibo {
        background-image: url(../images/7FM.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 500px;
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .eum {
        background-image: url(../images/5OTF.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 500px;
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* -----CONTENT----- */
    .content-two-inner {
        height: 650px;
        display: flex;
        justify-content: space-between;
    }
    .photo-four {
        width: 540px;
        height: 590px;
        background-image: url(../images/kaboom.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .article-four {
        width: 540px;
        height: 590px;
        position: relative;
        bottom: 15px;
    }
    .header-e {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.7;
        text-align: right;
    }
    .header-f {
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.1;
        text-align: right;
    }
    
    /* -----FOOTER----- */
    footer {
        height: 350px;
    }
    .footer-inner {
        display: block;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
    }
    
    /* SOCIAL MEDIA */
    .wrapper {
        width: 500px;
        height: 50px;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-around;
    }
    .wrapper ul {
        list-style: none;
    }
    .wrapper ul li {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin: 0 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        border: 3px solid #585f56;
        float: left;
        transition: all 0.5s ease;
    }
    .wrapper ul li .fa {
        color: #585f56;
        margin-top: 7px;
        transition: all 0.3s ease;
    }
    .wrapper ul li:hover.facebook {
        border: 3px solid #3b5998;
        box-shadow: 0 0 15px #3b5998;
        transition: all 0.3s ease;
    }
    .wrapper ul li:hover .fa-facebook {
        color: #3b5998;
        text-shadow: 0 0 15px #3b5998;
        transition: all 0.3s ease;
    }
    .wrapper ul li:hover.twitter {
        border: 3px solid #00aced;
        box-shadow: 0 0 15px #00aced;
        transition: all 0.3s ease;
    }
    .wrapper ul li:hover .fa-twitter {
        color: #00aced;
        text-shadow: 0 0 15px #00aced;
        transition: all 0.3s ease;
    }
    .wrapper ul li:hover.instagram {
        border: 3px solid #bc2a8d;
        box-shadow: 0 0 15px #bc2a8d;
        transition: all 0.5s ease;
    } 
    .wrapper ul li:hover .fa-instagram {
        color: #bc2a8d;
        text-shadow: 0 0 15px #bc2a8d;
        transition: all 0.3s ease;
    }
    .wrapper ul li:hover.youtube {
        border: 3px solid #dd4b39;
        box-shadow: 0 0 15px #dd4b39;
        transition: all 0.3s ease;
    }
    .wrapper ul li:hover .fa-youtube {
        color: #dd4b39;
        text-shadow: 0 0 15px #dd4b39;
        transition: all 0.3s ease;
    }
    .wrapper ul li:hover.dribbble {
        border: 3px solid #ff5ec1;
        box-shadow: 0 0 15px #ff5ec1;
        transition: all 0.3s ease;
    }
    .wrapper ul li:hover .fa-dribbble {
        color: #ff5ec1;
        text-shadow: 0 0 15px #ff5ec1;
        transition: all 0.3s ease;
    }
    
    /* BACKGROUND ELEMENT */
    .background-a {
        position: absolute;
        top: 1325px;
        margin-left: 50px;
        z-index: -100;
    }
    .background-b {
        position: absolute;
        top: 1640px;
        margin-left: 50px;
        z-index: -100;
    }
    .background-c {
        position: absolute;
        top: 3590px;
        margin-left: 80px;
        z-index: -1000;
        width: 1000px;
        height: 435px;
        background: url(../img/BG\ 4.png);
    }
    
    /* ELEMENT LINE */
    .element-line-1-1 {
        position: absolute;
        top: 970px;
        margin-left: 430px;
        z-index: -10;
    }
    .element-line-2-1 {
        position: absolute;
        top: 1010px;
        margin-left: 470px;
        z-index: -10;
    }
    .element-line-3-1 {
        position: absolute;
        top: 1050px;
        margin-left: 450px;
        z-index: -10;
    }
    .element-line-1-2 {
        position: absolute;
        top: 970px;
        margin-left: 598px;
    }
    .element-line-2-2 {
        position: absolute;
        top: 1010px;
        margin-left: 598px;
    }
    .element-line-3-2 {
        position: absolute;
        top: 1050px;
        margin-left: 598px;
    }


@media (max-width: 1140px) {
    .container {
        max-width: 800px;
    }
    header {
        height: 130px;
    }
    .header-inner {
        padding: 40px 0;
    }
    .nav-link {
        font-size: 19px;
        margin-left: 30px;
    }
    .nav-link:hover {
        border-bottom: 2px solid black;
    }
    .banner {
        height: 400px;
    }
    .banner-inner {
        height: 400px;
    }
    .banner-text {
        max-width: 400px;
    }
    .header-text-banner {
        font-size: 50px;
        text-shadow: 0px 0px 20px rgba(48, 48, 48, 0.7);
        line-height: 1;
        letter-spacing: 9px;
    }
    .content {
        max-width: 800px;
        margin: 0 auto;
        height: 1000px;
    }
    .content-inner {
        max-width: 800px; 
        height: 1000px;
    }
    .article-one {
        width: 370px;
        height: 250px;
    }
    .header-a {
        font-size: 47px;
        line-height: 1;
        margin-top: 15px;
    }
    .simple {
        font-size: 14px;
        margin: 25px 0;
    }
    .more {
        font-size: 18px;
    }
    img#photo-one{
        width: 350px;
        height: 390px;
    }
    div.photo-one {
        width: 350px;
        height: 420px;
    }
    div.article-two {
        width: 350px;
        height: 250px;
    }
    .header-b {
        font-size: 60px;
        line-height: 1;
        margin-top: 70px;
    }
    div.photo-two {
        width: 410px;
        height: 250px;
        margin-left: 20px;
    }
    img#photo-two {
        width: 410px;
        height: 230px;
    }
    .article-three {
        width: 370px;
        height: 300px;
        margin: 0 0 0 60px;
    }
    figcaption {
        font-size: 20px;
    }
    .header-c {
        font-size: 30px;
        line-height: 1.5;
        margin-top: 0;
    }
    .header-d {
        font-size: 43px;
        line-height: 1;
    }
    .photo-three {
        width: 350px;
        height: 420px;
        margin: 0 0 0 80px;
    }
    img#photo-three {
        width: 350px;
        height: 390px;
    }
    .newsletter {
        height: 200px; 
        margin-top: 40px;
    }
    .newsletter-inner {
        height: 200px;
    }
    .header-text-newsletter {
        font-size: 30px;
        line-height: 1;
    }
    input {
        width: 90px;
        font-size: 14px;
    }
    .information {
        height: 240px;
    }
    .information-inner {
        height: 240px;
    }
    .categories {
        height: 400px;
    }
    .categories-inner {
        height: 400px;
    }
    .meu {
        background-image: url(../images/ZEJW.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cibo {
        background-image: url(../images/7FM.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .eum {
        background-image: url(../images/5OTF.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer {
        height: 330px;
    }
    .footer-inner {
        height: 330px;
    }
    .content-two-inner {
        height: 400px;
    }
    div.photo-four {
        width: 340px;
        height: 400px;
    }
    div.article-four {
        width: 450px;
        height: 400px;        
    }
    .header-e {
        font-size: 20px;
        line-height: 1;
    }
    .header-f {
        font-size: 40px;
        line-height: 1;
    }
    br {
        display: none;
    }
    .background-a, .background-b, .background-c, .element-line-1-1, .element-line-2-1, .element-line-3-1, .element-line-1-2, .element-line-2-2, .element-line-3-2 {
        display: none;
    }
}

@media (max-width: 500px) {
    p {
        font-size: 12px;
    }
    .simple {
        font-size: 12px;
        margin: 15px 0; 
    }
    .container {
        max-width: 500;
    }
    header {
        height: 90px;
    }
    #logo {
        width: 150px;
        height: 30px;
    }
    .header-inner {
        padding: 25px 0;
    }
    .nav-link {
        font-size: 16px;
        margin-left: 15px;
    }
    .nav-link:hover {
        border-bottom: 2px solid black;
        padding-bottom: 5px;
    }
    .banner {
        height: 250px;
    }
    .banner-inner {
        height: 250px;
    }
    .banner-text {
        max-width: 300px;
    }
    .header-text-banner {
        font-size: 40px;
        text-shadow: 0px 0px 20px rgba(48, 48, 48, 0.7);
        line-height: 1;
        letter-spacing: 5px;
    }
    .content {
        max-width: 500px;
        height: 850px;
    }
    .content-inner {
        max-width: 500px; 
        height: 850px;
    }
    .article-one {
        width: 230px;
        height: 200px;
    }
    .header-a {
        font-size: 30px;
        margin-top: 0;
    }
    img#photo-one{
        width: 230px;
        height: 270px;
    }
    div.photo-one {
        width: 230px;
        height: 300px;
    }
    div.article-two {
        width: 230px;
        height: 200px;
        margin: 0;
    }
    .header-b {
        font-size: 42px;
        margin-top: 50px;
    }
    div.photo-two {
        width: 250px;
        height: 180px;
        margin-left: 0;
    }
    img#photo-two {
        width: 250px;
        height: 150px;
    }
    .article-three {
        width: 250px;
        height: 290px;
        margin: 0 0 0 20px;
    }
    figcaption {
        font-size: 15px;
    }
    .header-c {
        font-size: 20px;
        line-height: 1.5;
        margin-top: 0;
    }
    .header-d {
        font-size: 30px;
        line-height: 1;
    }
    .photo-three {
        width: 230px;
        height: 270px;
        margin-left: 22px;
        position: relative;
        bottom: 60px;
    }
    img#photo-three {
        width: 230px;
        height: 300px;
    }
    .newsletter {
        height: 120px; 
        margin-top: 40px;
    }
    .newsletter-inner {
        height: 120px;
    }
    .header-text-newsletter {
        font-size: 25px;
    }
    input {
        width: 90px;
        height: 20px;
        font-size: 12px;
    }
    .content-two-inner {
        height: 800px;
        flex-direction: column-reverse;
    }
    .photo-four {
        margin: 0 auto;
    }
    div.article-four {
        margin-top: 20px;
        width: 480px;
        height: 360px;
    }
    .header-e {
        font-size: 30px;
        line-height: 1.5;
    }
    .header-f {
        font-size: 45px;
        line-height: 1;
    }
    p.more {
        font-size: 15px;
    }
    footer {
        margin-top: 150px;
        height: 330px;
        font-size: 13px;
    }
    .footer-inner {
        height: 330px;
    }
    .categories {
        height: 320px;
    }
    .categories-inner {
        height: 320px;
    }
    section.content-two {
        height: 650px;
    }
    .information {
        height: 180px;
    }
    .information-inner {
        height: 180px;
        font-size: 13px;
        line-height: 1.5;
    }
    table {
        font-size: 16px;
        line-height: 1.2;
        margin: 20px auto;
    }
    #small {
        width: 20px;
    }
}