*{
    margin: 0px;
    padding: 0px;
}
div{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(green, yellow);
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}